@media(max-width:550px) {
  body {
    font-size: 11px;
  }
  ;
}

@media(min-width:551px) {
  body {
    font-size: 12px;
  }
  ;
}

@media(min-width:750px) {
  body {
    font-size: 14px;
  }
  ;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(71, 71, 71, .5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background: grey;
}

html {
  height: 100%
}

body {
  Font-Family: 'Open Sans', Sans-Serif;
  margin: 0;
  overflow: auto;
  height: 100vh;
  transition: 0.25s;
  background-image: url("./images/darkbg.jpg");
  background-size: cover;
  color: white;
  background-color: #59657B;
}

.masterContainer {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.footer {
  text-align: center;
  margin-bottom: 1.5vh;
}

.resourceView {
  text-align: center;
  font-size: 1.5em;
}

.resourceContainer {
  width: 80vw;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 480px;
  box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.resource:last-child {
  border: none !important;
}

.fieldTitle {
  font-size: .8em;
}

.category {
  font-size: 80%;
  margin: 1vh;
  transition: .25s;
  display: inline-block;
}

.category:hover {
  transform: scale(1.15);
  cursor: pointer;
  text-shadow: 3px 4px 19px rgba(0, 0, 0, 0.2);
}

.resource {
  text-align: left;
  font-size: 70%;
  transition: .25s;
  margin-left: 1vw;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  white-space: normal;
}

.resource div {
  margin-top: 2px;
  margin-bottom: 2px;
}

.editButton {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 80%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  display: inline-block;
  width: 24px;
  text-align: center;
  transition: 0.25s;
  background-color: rgba(255, 255, 255, 0.2);
}

.editButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.05);
}

.navButton {
  font-size: .6em;
  display: inline-block;
  padding: 10px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  border-radius: 20px;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.25s;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 3vh;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.05);
}

.submitButton {
  font-weight: bold;
  font-size: .6em;
  background-color: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: white;
  display: block;
  padding: 10px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  border-radius: 20px;
  margin: auto;
  margin-top: 14px;
  transition: 0.25s;
  width: 100px;
}

.submitButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.darkerText {
  color: rgb(226, 226, 226);
  font-size: 90%;
  margin-right: 4px;
}

.input {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
  display: inline-block;
  margin: auto;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  padding: 2px;
  margin-top: 4px;
  width: 115px;
  outline: none;
  border-radius: 2px;
  transition: 0.25s;
  font-size: .6em;
  transform: translateY(3px)
}

.input::placeholder {
  color: rgb(231, 231, 231);
}

.input:focus {
  background-color: rgba(0, 0, 0, 0.3);
  width: 130px;
}

.dropDown {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 0;
  display: inline-block;
  margin: auto;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  padding: 2px;
  margin-top: 4px;
  width: 60px;
  outline: none;
  border-radius: 2px;
  transition: 0.25s;
  font-size: .6em;
}

.dropDownItem {
  background-color: rgb(82, 82, 82);
}